.header {
  background: #049fd9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 13px 10%;
  font-family: "Montserrat";
}

.header h1 {
  color: white;
}

.header .right-links img {
  width: 70px;
  height: 70px;
  margin-top: 5px;
  margin-left: 15px;
}

.header > a img {
  margin-left: 20%;
  width: 60%;
}